<form th:action="@{/books/{id}(id=${book.id})}" th:object="${book}" method="post" style="padding: 20px 40px">
    <div style="display: flex; justify-content: flex-start; height: 100px; background-color: purple" title="Go to the books page">
        <a href="/"><img th:src="@{/static/main_logo.png}" width="100px" height="100px" alt="logo"/></a>
    </div>
    <div style="padding: 20px 40px; align-content: center">
        <h2>Book:</h2>
        <div style="background-color: lightgray; padding: 10px; font-size: 14px; margin-bottom: 40px;" th:each="comment : ${comments}" th:text="${comment.content}"></div>
        <input type="hidden" th:field="*{id}"/>
        <div style="display: flex; flex-direction: column; gap: 40px; width: 50%">
            <input style="height: 40px; min-width: 200px; width: 100%" th:field="*{title}"/>
            <select name="genreId" style="height: 40px; min-width: 200px; width: 100%">
                <option
                    style="height: 40px; width: 100%"
                    th:each="genre : ${genres}"
                    th:value="${genre.id}"
                    th:text="${genre.name}"
                    th:selected="${genre.id == book.genre.id}"
                >
                    Название жанра
                </option>
            </select>
            <select name="authorId" style="height: 40px; min-width: 200px; width: 100%">
                <option
                    style="height: 40px; width: 100%"
                    th:each="author : ${authors}"
                    th:value="${author.id}"
                    th:text="${author.fullName}"
                    th:selected="${author.id == book.author.id}"
                >
                    Автор
                </option>
            </select>
            <div style="display: flex; justify-content: center; margin-top: 200px">
                <button style="width: 100px; height: 40px; background-color: purple; color: white">Save</button>
            </div>
        </div>
    </div>
</form>
