<div style="display: flex; justify-content: flex-start; height: 100px; background-color: purple" title="Go to the books page">
    <a href="/"><img th:src="@{/static/main_logo.png}" width="100px" height="100px" alt="logo"/></a>
</div>
<div style="padding: 20px 40px">
    <div style="display: flex; flex-direction: row; gap: 20px; color: purple; margin-bottom: 20px">
        <a th:href="@{/books/new}" class="btn-green">Create book</a>
        <a th:href="@{/authors}" class="btn-purple">All authors</a>
        <a th:href="@{/genres}" class="btn-purple">All genres</a>
    </div>
    <h2>All available books: </h2>
    <div style="display: flex; flex-direction: row; gap: 20px; padding: 10px; background-color: bisque; border-bottom: darkgray 1px solid">
        <div style="flex-basis: 200px">Genre</div>
        <div style="flex-grow: 1; flex-basis: 200px">Title</div>
        <div style="flex-basis: 300px">Author</div>
        <div style="flex-basis: 200px"></div>
    </div>
    <a style="text-decoration: none; color: black" th:each="book : ${books}" th:href="@{/books/{id}(id=${book.id()})}">
        <div style="display: flex; flex-direction: row; align-items: center; gap: 20px; padding: 10px; background-color: bisque; border-bottom: lightgray 1px solid">
            <div style="flex-basis: 200px" th:text="${book.genre().name()}"></div>
            <div style="flex-grow: 1; flex-basis: 200px" th:text="${book.title()}"></div>
            <div style="flex-basis: 300px" th:text="${book.author().fullName()}"></div>
            <form th:action="@{/books/{id}(id=${book.id})}" th:method="delete" style="flex-basis: 200px">
                <button type="submit" style="cursor: pointer; width: 80px; height: 30px; background-color: purple; color: white">Delete</button>
            </form>
        </div>
    </a>
</div>
