services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hw17-app-container
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:h2:mem:maindb;DB_CLOSE_DELAY=-1
      SPRING_DATASOURCE_USERNAME: имя пользователя, по умолчанию можно ставить sa
      SPRING_DATASOURCE_PASSWORD:
      SPRING_SQL_INIT_MODE: always
